/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% auto min-content;
    background: #bbddff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #87ceeb;
    background: linear-gradient(to bottom, #87ceeb, transparent);
    color: #445588cc;
    height: 100%;
}

header h1 {
    font-size: 2.5rem;
}

header h1 > figure.app-icon {
    display: inline-block;
}

.app-icon img {
    height: 5rem;
}

header button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #445588;
    color: #bbddee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 75%;
}

header button:hover {
    background-color: #4455cc;
    color: #aaccff;
}

/* Main section */
main {
    display: grid;
    grid-template-rows: 25% 50% 25%; /* Altura proporcional entre filas */
}

.result-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa80;
    border-radius: 5px;
    margin: 10px;
    font-size: 1rem;
    color: #555;
    gap: 20px;
    align-content: space-around;
}

#currentWeather.result-row {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

#currentWeather div {
    font-size: 2rem;
    text-align: start;
}

#weatherIcon.icon {
    font-size: 10rem;
    text-align: center;
    margin: 10px 0;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 0.9rem;
    background: #87ceeb;
    background: linear-gradient(to top, #87ceeb, transparent);
    color: #556688;
}

footer a {
    color: #445588;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
